<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>AviaryTranslations</key>
		<dict>
			<key>TranslationKey</key>
			<data>
			zsXAzPHBp1bRT77vwGq3+659vLMymI9Hl7ZzjBshe8g=
			</data>
			<key>TranslationValue</key>
			<data>
			H/bnTN7+FZ5kmzmzrh6Pt7pZHnP1zFMYaNBcMQyH1mA=
			</data>
		</dict>
	</dict>
</dict>
</plist>
